.card-1{
    background-color: palevioletred;
    border-radius: 7%;
    width: 292px;
}
.card-2{
    border-radius: 7%;
    width: 292px;
}

.fas{
    margin-right: 10px;
   
}
.w-100{
  
    height: 600px;
}
/* .Faq-image{
    height: 100px;
} */
.form{
width:300px;
	margin: 0 auto;
    margin-top: 5%;
}
/* .footer{
    height: 280px;
    background-color: black;
    padding: 100px;
    margin-bottom: 50px;
    
} */
footer{
    margin-top: 158px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    
 background-color: black;
 padding-top: 20px;
 padding-bottom: 60px ;
 color: white;
}

footer p{
    font-size: 14px;
}



  
}
/* for mobile */
@media only screen and (max-width:668px){  
    
    /* .people{
        width: 50px;
        height: 300px;
        padding: 10%;

    } */
    .form{
        width:100px;
            margin: 0 auto;
            margin-top: 5%;
        }
    .form-outline{
        width: 50px;
       
        padding-left: 10%;
    }
    .sign{
        padding-left: 5%;
    }
    /* .footer{
        width: 100%;
        
    }
    .ftr{
        
        margin-right: 200%;
        padding-left: 10%;
    } */
    footer{
        margin-top: 43px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
    
    }
    /* footer img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 271px;
        height: 63px;
    } */
    
}
